/* https://www.a11yproject.com/posts/how-to-hide-content/ */
.visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

:root {
		border-top: none;
}

html {
	overflow-y: overlay;
}

pre, code {
	font-family: Monaco, monospace;
}

header {
	border-bottom: 1px dashed var(--color-gray-20);
}
header:after {
	content: "";
	display: table;
	clear: both;
}

/* Header */
header {
	display: flex;
	gap: 1em 0.5em;
	flex-wrap: wrap;
	align-items: center;
	padding-top: 1em;
	padding-bottom: 1em;
}
.home-link {
	font-size: 1em; /* 16px /16 */
	font-weight: 700;
	margin-right: 2em;
}
.home-link:link:not(:hover) {
	text-decoration: none;
}

/* Nav */
.nav {
	display: flex;
	padding: 0;
	margin: 0;
	list-style: none;
}
.nav-item {
	display: inline-block;
	margin-right: 1em;
}
.nav-item a[href]:not(:hover) {
	text-decoration: none;
}
.nav a[href][aria-current="page"] {
	text-decoration: underline;
}
td.listing-row {
	vertical-align: top;
	height: 0;
}

.no-wrap {
	white-space: nowrap;
}

td.pad-right {
	padding-right: 0.5em;
}

td.pad-left {
	padding-left: 0.5em;
}

img.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

img.max-width-gif-316 {
	max-width: 316px;
}

#bottom-nav {
	margin-top: 3em;
}
